body {
	color: #836A51;
	background: transparent;
	margin: 0;
	padding: 0;
	font: 13px/18px sans-serif;
	}

p {
	margin: 2px;
}

:link, :visited {
	text-decoration: none;
	color: #41007E;
	}

a:hover, a:active {
	color: #8500FF;
	text-decoration: underline;
}

.recentsong .djpart, .recentsong .datepart {
	display: none;
}

.recentsong b {
	font-weight: normal;
	color: black;
}

.recentsong .songpart {
	font-style: italic;
}